.demo-editor {
    min-height: 30em;
    background: #F8F8FF;
    padding-left: 1em;
    padding-right: 1em;
}

.demo-toolbar {
    background: #F8F8FF;
}

.demo-editor--textarea {
    min-height: 30em;
    background: #F8F8FF;
    width: 100%;
}