.demo-editor {
  min-height: 30em;
  background: #f8f8ff;
  padding-left: 1em;
  padding-right: 1em;
}

.demo-toolbar {
  background: #f8f8ff;
}

.demo-editor--textarea {
  min-height: 30em;
  background: #f8f8ff;
  width: 100%;
}
